/* © Sergey Roganov aka Belomir, 2018 */
/* © Сергей Роганов aka Беломир, 2018 */
/* Александр Юрьевич, привет (: */

main {
	flex-flow: row wrap;
}

main > * {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 5em;
	min-width: 10em;
	max-width: 15em;
	margin: 1em;
	text-decoration: none;
}

main > * img {
	height: 100%;
	width: auto;
	margin-bottom: 1em;
	max-height: 5em;
}

main > *[href]:hover, main > *[href] > img:hover + * {
	text-decoration: underline;
}

main > *:not([href]) {
	cursor: default;
	filter: grayscale(25%);
}

main > *:not([href]):hover {
	filter: grayscale(90%);
}

body > footer {
	flex-flow: row wrap;
	align-items: center;
}

body > footer > *:not(:last-child) {
	margin-right: 1em;
}

body > footer p {
	opacity: .33;
}

body > footer img {
	opacity: .125;
}

body > footer p {
	cursor: default;
}

body > footer img:hover, body > footer > p:hover {
	opacity: 1;
}

body > footer img {
	height: 2em;
}

body > footer {
	margin-right: 5em;
}

.ce {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	background: black;
	margin: 0;
	padding: 0;
	transition: all 5s;
	cursor: pointer;
}
