/* © Sergey Roganov aka belomir, 2018 */
/* © Сергей Роганов aka Беломир, 2018 */

/* Александр Юрьевич, привет (: */

main {
	flex-flow: row wrap;
}

main > * {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	min-width: 10em;
	max-width: 15em;
	margin: 1em;
	text-decoration: none;
}

main > * img {
	height: 4em;
	margin-bottom: 1em;
}

main > *[href]:hover,
main > *[href] > img:hover + * {
	text-decoration: underline;
}

main > *:not([href]) {
	cursor: default;
	filter: grayscale(25%);
}

main > *:not([href]):hover {
	filter: grayscale(90%);
}

body > footer {
	flex-flow: row wrap;
	align-items: center;
	margin-right: 5em;
}

body > footer > *:not(:last-child) {
	margin-right: 1em;
}

body > footer address {
	cursor: default;
	opacity: .33;
}

body > footer img {
	opacity: .125;
	height: 2em;
}

body > footer img:hover,
body > footer > address:hover {
	opacity: 1;
}
