/* (C) RSA, 2019 */

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	font-family: sans-serif;
}

body > * {
	padding: 1em 2em;
}

body > header {
	background: linear-gradient(120deg, lightblue, darkblue);
	color: white;
	font-size: x-large;
	text-align: center;
	position: relative;
	padding-bottom: 3em;
}

body > header > h1 {
	margin: 2em 0;
}

.waves {
	padding: 0;
	width: 100%;
	height: 2em;
	/*stroke: none;*/
}

body > header > .waves {
	background: linear-gradient(transparent 50%, white);
	fill: white;
	/*stroke: white;
	stroke-width: 2px;*/
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

body > header + .waves + .waves {
	background: white;
	fill: blue;
	transform: scaleY(-1);
}

body > main + .waves {
	background: white;
	fill: darkblue;
}

.wave {
	transition: all 5s;
	transform-origin: bottom;
	transform: scale(1,1);
}

.wave1 {
	transition: all 5s;
	transform-origin: top;
}

main {
	font-size: large;
	flex: 1;
	background: white;
}

main > * {
	margin-top: 7em;
}
main > *:last-child {
	margin-bottom: 7em;
}

body > footer {
	background: darkblue;
	color: white;
	font-size: medium;
}

body > footer > p {
	margin: 2em 0;
}

path {
	transform-origin: bottom;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-name: yscale;
	/*animation-duration: 15s;*/
	fill-opacity: .33;
	/*stroke: white;*/
	/*transform: scaleY(0);*/
}

@keyframes yscale {
	from {transform: scaleY(0);}
	to {transform: scaleY(1);}
}
